<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="Font-Awesome-6.5.2/Font-Awesome-6.5.2/css/all.css">
</head>
<body>
    <div class="container">

        <div id="view-details-panel">
            <div id="panel">
          
            </div>
        </div>

        <div id="header">
            <h1>FPOG</h1>
            <h2 id="section">Dashboard</h2>
            <button>Help</button>
        </div>
        <div id="side-panel">
            <ul>
                <li id="profile">
                    <img src="image_database\jeshoots-com-pUAM5hPaCRI-unsplash - Copy.jpg" alt="" id="profile-pic">
                    <p id="profile-name">User Profile</p>
                </li>
                <li id="dashboard-btn">Dashboard</li>
                <li id="user-management-btn">Admin Users</li>
                <li id="card-allocation-btn">Card Allocation</li>
            </ul>
        </div>
        <div id="main">

            <!-- -----DASHBOARD SECTION----- -->
            <section id="dashboard">
                <div id="total-users">
                    <p class="text">Number of registered users</p>
                    <i class="fa-solid fa-id-card"></i>
                    <p class="number">0</p>
                </div>
                <div id="total-members">
                    <p class="text">Number of admin users</p>
                    <i class="fa-solid fa-users-viewfinder"></i>
                    <p class="number">0</p>
                </div>
                <div id="total-signedin-users">
                    <p class="text">Number of signed in users</p>
                    <i class="fa-solid fa-book-open-reader"></i>
                    <p class="number">0</p>
                </div>
                <div id="total-user-list">
                    <form id="form">
                        <input type="text" id="search-box">
                        <button id="search-btn">Search</button>
                    </form>
                    <div id="user-list"></div>
                </div>
                <div id="new-signin">
                    <p class="text">New Signup</p>
                    <i class="fa-solid fa-user"></i>
                    <div id="new-user"></div>
                </div>
            </section>










            <!-- -----USER MANAGEMENT SECTION----- -->
             <section id="admin-users">

              
                
             </section>










             <!-- -----CARD ALLOCATION SECTION----- -->
             <section id="card-allocation">
                <iframe id="reg-page" src="/register" frameborder="0"></iframe>
             </section>

        </div>
    </div>
    <script src="admin.js"></script>
</body>
</html>