<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L.M.S</title>
    <link rel="stylesheet" href="register.css">
    <link rel="stylesheet" href="Font-Awesome-6.5.2/Font-Awesome-6.5.2/css/all.css">
</head>
<body>

    <%- include("./load")%>

    
    <p id="message">This is supposed to be a message</p>

    <form action="/admin-login" method="post" class="form">
    
            <label for="Email">Enter email address</label>
            <input type="email" name="Email" class="input">
    
            <label for="password">Enter Password</label>
            <div id="password-holder">
                <input type="password" name="Password" id="password" class="input">
                <i class="fa-solid fa-eye-slash"></i>
            </div>
    
            <button id="login-btn" class="form-btn" >Login</button>      

    </form>
    <script src="admin-login.js" type="module"></script>
</body>
</html>