<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O.L.M.S</title>
    <link rel="stylesheet" href="./home_css/home.css">
</head>
<body>
    <section id="sec1">
        <nav id="navigation-bar">
            
                <h1>Library Mangement System</h1>
            
            <ul id="navigations">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
        </nav>

        <div class="showcase-div">
            <h1>Welcome to the Library Management System</h1>
            <p>Dive into our vast ocean of books and relax</p>
        </div>

        <div class="sec1-buttons">
            <input type="button" value="Register">
            <input type="button" value="Log in">
        </div>
        

    </section>
</body>
</html>