<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="container">
        <div id="text-info">

            <div>
                <label for="">First Name:</label>
                <p id="FirstName">FirstName</p>
            </div>

            <div>
                <label for="">Last Name:</label>
                <p id="LastName">FirstName</p>
            </div>

            <div>
                <label for="">Email:</label>
                <p id="Email">FirstName</p>
            </div>

            <div>
                <label for="">Mobile Number:</label>
                <p id="MobileNumber">FirstName</p>
            </div>

            <div>
                <label for="">Matriculation Number:</label>
                <p id="MatricNumber">FirstName</p>
            </div>

            <div>
                <label for="">Date of Birth:</label>
                <p id="DOB">FirstName</p>
            </div>

        </div>

        <div id="img-info">
            <div id="img-container">
                <img alt="" id="img">
            </div>

            <div id="qr-code">
                <img src="" id="qr-image" alt="">
            </div>
            <div id="id-holder">
                <p>ID:</p>
                <p id="id-number"><%=id%></p>
            </div>
             
            <button id="qr-code-btn">Download qr code</button>
        </div>

    </div>

    <script src="profile.js"></script>
</body>
</html>