*{
    margin: 0;
    padding: 0;
    border: 0;
}

*{
    font-family: sans-serif;
    color: rgb(43, 43, 43);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    position: relative;
}

#text-info{
    margin: 20px;
    font-size: 1.5rem;
    width: 65%;
    box-shadow: 2px 2px 20px 2px grey;
    padding: 50px;
    border-radius: 1rem;
}

#text-info p{
    color: darkblue;
}

#text-info div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid grey;
}

#text-info label{
    width: max-content;
}

#img-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    box-shadow: 2px 2px 20px 2px grey;
    padding: 50px;
    border-radius: 1rem;
}

#img-container{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 1px solid grey;
}

#img-container img{
    width: inherit;
    height: inherit;
}

#qr-code{
    width: 300px;
    height: 300px;
    background-color: black;
}

#qr-code-btn{
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
}

#qr-code-btn:hover{
    background-color: transparent;
    box-shadow: 2px 2px 20px 2px black;
    color: grey;
}

#id-holder{
    display: flex;
}

#id-holder p{
    color: darkblue;
    margin: 5px;
}

#qr-image{
    width: inherit;
    height: inherit;
}
